@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: rgb(34,31,31);
  --foreground: rgb(255,255,255);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    --background: 255,255,255;*/
/*    --foreground: 34,31,31;*/
/*  }*/
/*}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, sans-serif;
}

.text-shine:hover {
  text-shadow: 0 0 5px var(--foreground);
}

.icon-shine:hover {
  filter: drop-shadow(0 0 5px var(--foreground));
}