SECRET_KEY=your-secret-key

DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

LANGUAGE_CODE=en-us

TIME_ZONE=UTC

STATIC_URL=static/
STATIC_ROOT=static/

DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com

CORS_ALLOWED_ORIGINS=http://localhost:8000
CORS_ALLOW_ALL_ORIGINS=False

DB_NAME=postgres
DB_PASSWORD=postgres
DB_USER=postgres
DB_HOST=localhost
DB_PORT=5432