services:
  postgres:
    container_name: portfolio-postgres
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    env_file:
      - .env
    networks:
      - postgres

  api:
    build: .
    container_name: portfolio-api
    restart: always
    volumes:
      - .:/portfolio
      - /var/www:/var/www
    ports:
      - "8001:8000"
    env_file:
      - .env
    networks:
      - postgres
    depends_on:
      - postgres

volumes:
  postgres_data:

networks:
  postgres:
    driver: bridge