@tailwind base;
@tailwind components;
@tailwind utilities;


.dark {
    --color-primary-dark: 24, 21, 21;
    --color-primary-default: 34, 31, 31;
    --color-primary-light: 44, 41, 41;

    --color-secondary-dark: 200, 200, 200;
    --color-secondary-default: 255, 255, 255;
    --color-secondary-light: 255, 255, 255;

    --color-state-success-darkest: #19372B;
    --color-state-success-dark: #345C2C;
    --color-state-success-default: #457A3B;
    --color-state-success-light: #66AF59;
    --color-state-success-lightest: #92CEB8;

    --color-state-warning-dark: #BC7916;
    --color-state-warning-default: #FAA21E;
    --color-state-warning-light: #FBB956;

    --color-state-error-darkest: #6C140E;
    --color-state-error-dark: #A71C0F;
    --color-state-error-default: #DA291C;
    --color-state-error-light: #EA665D;
    --color-state-error-lightest: #EA665D;
}

.light {
    --color-primary-dark: 240, 240, 240;
    --color-primary-default: 250, 250, 250;
    --color-primary-light: 255, 255, 255;

    --color-secondary-dark: 34, 34, 34;
    --color-secondary-default: 45, 45, 45;
    --color-secondary-light: 55, 55, 55;

    --color-state-success-darkest: #19372B;
    --color-state-success-dark: #345C2C;
    --color-state-success-default: #457A3B;
    --color-state-success-light: #66AF59;
    --color-state-success-lightest: #92CEB8;

    --color-state-warning-dark: #BC7916;
    --color-state-warning-default: #FAA21E;
    --color-state-warning-light: #FBB956;

    --color-state-error-darkest: #6C140E;
    --color-state-error-dark: #A71C0F;
    --color-state-error-default: #DA291C;
    --color-state-error-light: #EA665D;
    --color-state-error-lightest: #EA665D;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #221F1F;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.25);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.14);
}

.header-link {
    transition: scale;
    transition-duration: 100ms;
}

.header-link:hover {
    scale: 110%;
}