

.header {
    /*background-color: #221F1F;*/
    min-height: 80px;
}

.header-brand {
    font-family: Poppins-Regular, serif;
    font-size: 25px;
}

.header-brand {
    cursor: pointer;
}

.header-nav-link {
    font-family: Poppins-Regular, serif;
    font-size: 20px;
}

.header-nav-links-container {

}

.header-nav-icons-container {

}

@media only screen and (max-width: 992px) {
    .header-nav-icons-container {
        display: none;
    }
}