
.header {
    min-height: 80px;
    z-index: auto;
}

.header-brand {
    font-family: Poppins-Regular, serif;
    font-size: 25px;
}

.header-brand {
    cursor: pointer;
}

.header-nav-link {
    font-family: Poppins-Regular, serif;
    font-size: 20px;
}
